# gitignore.io
#.ruby-gemset
#.ruby-version
#Gemfile.lock
$RECYCLE.BIN/
**.orig
*.bowerrc
*.cab
*.DotSettings
*.gem
*.lnk
*.msi
*.msm
*.msp
*.rbc
*.stTheme.cache
*.sublime-workspace
*.tmlanguage.cache
*.tmp
*.tmPreferences.cache
*.un~
*.xlk
*~
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.dat*
.directory
.DocumentRevisions-V100
.DS_Store
.fseventsd
.jekyll-metadata
.LSOverride
.netrwhist
.powenv
.repl_history
.rspec
.rvmrc
.sass-cache/
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
.~lock.*#
/.bundle
/.bundle/
/.config
/.yardoc/
/_yardoc/
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/doc/
/InstalledFiles
/lib/bundler/man/
/log
/pkg/
/public/system
/rdoc/
/spec/examples.txt
/spec/reports/
/spec/tmp
/test/tmp/
/test/version_tmp/
/tmp
/tmp/
/vendor/assets/bower_components
/vendor/bundle
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
_site/
bower.json
build/
capybara-*.html
config/initializers/secret_token.rb
config/secrets.yml
Desktop.ini
ehthumbs.db
Icon
Network Trash Folder
pickle-email-*.html
rerun.txt
Session.vim
sftp-config.json
Temporary Items
Thumbs.db
tmp/
~$*.doc*
~$*.ppt*
~$*.xls*